.icons-wrapper{
    display: flex;
    flex-direction: row;
    flex-gap: 8px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.icon{
    padding: 6px;
    margin-right: 8px;
    border: 1px solid rgb(94, 94, 94);
    background-color: rgb(124, 124, 124);
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 #00000005;
}
.icon svg{
    height: 22px;
    width: 22px;
    color: white;
}